<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">{% load staticfiles %}
	<title>Hail Hydro</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="{% static 'users/css/bootstrap-responsive.css' %}" rel="stylesheet">
	<link href="{% static 'users/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'users/color/default.css' %}" rel="stylesheet">

	<link rel="shortcut icon" href="{% static 'users/img/logo-image.png' %}">
	<link rel="stylesheet" href="{% static 'users/css/theme.css' %}" type="text/css">
</head>

<body>
	<!-- navbar -->
	<div class="navbar-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<!-- Responsive navbar -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</a>
					<h1 class="brand"><a title="Plant-o-meter" href="{% url 'users:homepage' %}">Hail Hydro</a></h1>
					<!-- navigation -->
					<nav class="pull-right nav-collapse collapse">
						<ul id="menu-main" class="nav">
							<li><a href="{% url 'users:login' %}">Login</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

</html>